.containerList {
    padding: 20px;
    max-width: 100%;
    overflow: auto;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-between;
}